<div class="controls">
    <div class="col-md-6 col-sm-12 col-xs-12 mb-10">
        <input type="radio" name="check_radio" value="private" data-bind="click: click, attr: {id: 'private-checkbox'}" />
        <label data-bind="attr: {for: 'private-checkbox'}"><span data-bind="i18n: 'Private'"></span></label>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 pr-0 mb-10">
        <input type="radio" name="check_radio" value="company" checked="checked" data-bind="click: click, attr: {id: 'company-checkbox'}" />
        <label data-bind="attr: {for: 'company-checkbox'}"><span data-bind="i18n: 'Company'"></span></label>
    </div>
</div>